@charset "utf-8";
	.NormalCharacterStyle9
{
	font-family : Myriad Pro;
	font-size : 15px;
	color : #49A8A8;
	color : rgb(73, 168, 168);
}
.NormalCharacterStyle8
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 10px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 10px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle7
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 10px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 10px;
	color : #99BA3C;
	color : rgb(153, 186, 60);
}
.NormalCharacterStyle1
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 10px;
	color : #F15A29;
	color : rgb(241, 90, 41);
}
.NormalCharacterStyle5
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 10px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle4
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 10px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 10px;
	color : #49A8A8;
	color : rgb(73, 168, 168);
}
.NormalCharacterStyle6
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 10px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
