*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }



@import "lib/svg/style.css";

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    font-weight: 400;
    min-height: 900px;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}



/* 
=====================================================================
                            Mappa
=====================================================================
*/

.maincontent {
    margin: 0 0 0 0;
    padding:0 0 0 0;

}
.deco {
    position: absolute;
    z-index:1050;
    width: 100%;

}

/*
=====================================================================
                            slider

=====================================================================
*/

.ui-rangeSlider-bar {

    -webkit-box-shadow:none;
    box-shadow:none;
    border-radius: 0;
}
.ui-editRangeSlider-inputValue,
.ui-rangeSlider-label {font-size: 1em;}
.ui-rangeSlider {
    width:90%!important;
    padding:10px 20px;
    margin:auto;
}
.ui-rangeSlider-label {bottom: 3.2em;}
.ui-rangeSlider-label-inner {left: inherit;}

.ui-rangeSlider-noArrow .ui-rangeSlider-container,
.ui-rangeSlider-container {    border:none;}
.ui-rangeSlider-withArrows .ui-rangeSlider-container,
.ui-rangeSlider-noArrow .ui-rangeSlider-container, .ui-rangeSlider-arrow
{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}
.ui-rangeSlider-container, .ui-rangeSlider-arrow, .ui-rangeSlider-label {
    background: none;
}








/*----------------------------------------------------------------------------------- */
/*  jQuery UI Slider */
/*----------------------------------------------------------------------------------- */

.ui-slider {
    background-color: #e2e2e2;
    height: 4px;
    border-radius: 2px;
    position: relative; }
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border-radius: 2px;
    top: 0;
    height: 100%; }

.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    top: -13px;
    margin-left: -14px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.1); }

.ui-widget-header {
    background-color: #007aff; }


/*----------------------------------------------------------------------------------- */
/*  custom      */
/*----------------------------------------------------------------------------------- */
.ui-slider {margin-top: 10px; background: white;}
.ui-slider .ui-slider-handle {  width: 1.8em;    height: 1.8em;}
.ui-widget-content {border: none;}
.ui-slider-horizontal .ui-slider-handle {top: -.8em;}


/*
=====================================================================
                                 logo
=====================================================================
*/


.logo {
    background: url('../lib/svg/dewetra_20_01.png') center no-repeat;
    background-size: contain;
    display: inline;
    height: 50px;
    width: 200px;
    z-index: 1000;
    position: absolute;
    margin: 5px 20px;
}

/*
=====================================================================
                            colorsert
=====================================================================
*/

#menu .inner,
.icon-search, .search,
.search.search-open .icon-search,
.no-js .search .icon-search,
.ui-rangeSlider-bar
{    background-color: #002053;}

.ui-rangeSlider-container
{ background: #eee;}
.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-inner
{
    color: rgba(0,0,0,0.5);
    border-color:rgba(0,0,0,0.5);
    border-left: 1px solid #333;
}

.no-touch .menu > li > a:hover,
.no-touch .menu > li > a:focus,
.menu > li.item-open > a,
.icon-search:hover,
.ui-widget-header
{color: #fb8c09;}


.search-input,
.search-input::-webkit-input-placeholder,
.search-input::-moz-placeholder,
.search-input::-moz-placeholder,
.search-input:-ms-input-placeholder {    color:#002053;  }

.menu > li.item-open > a:after { border-top-color:#002053!important; }

.deco {    border-top: 5px solid #002053;
    -webkit-border-top: 5px solid #002053;
    -moz-border-top: 5px solid #002053;
}


/*
=====================================================================
                             search
=====================================================================
*/
.search.search-open,
.no-js .search {
    margin-top: 25px;
    z-index: 1060;
    opacity: 0.9;
}

/*
=====================================================================
                            footer
=====================================================================
*/
.footer, .deco.footer {
    position: fixed;
    bottom:0;
    z-index: 1060;

}

#menu.footer .inner {

    border-radius: 8px 8px 0 0 ;
    -webkit-border-radius: 8px 8px 0 0 ;
    -moz-border-radius: 8px 8px 0 0 ;
    box-shadow:0 0 3px #000;
    -moz-box-shadow: 0 0 5px #333;
    webkit-box-shadow: 0 0 5px #333;

}



/*
=====================================================================
                            menu
=====================================================================
*/

.menu-wrapper .menu {
    margin: 0 auto 0 200px;
}
.menu > li:last-child {
    margin-right: 5em;
    margin-left: 0;

}
.menu > li {/* margin-left: 3em; */}
.menu > li:nth-child(4) {
    margin-left: 0em;
}

.menu > li > a {
    font-size: 1em;
    line-height:3em;
}
.menu > li > a[class*="i-"] {
    font-size: 2em;
    line-height:2em;
}


#menu .inner {

    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    box-shadow:0 0 3px #000;
    -moz-box-shadow: 0 0 5px #333;
    webkit-box-shadow: 0 0 5px #333;

}
#menu .submenu {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow:0 3px 5px #555;
    -moz-box-shadow: 0 3px 5px #333;
    webkit-box-shadow: 0 3px 5px #333;
}
.submenu > li {
    display: inline-flex;
    max-width:25%;
    min-width:15%;
    width:auto!important;
}

.submenu > li a span {
    min-height: 1em!important;
    margin-top: 0em!important;
}


.submenu li img {    width:50px;}

.submenu li img,
.submenu li span {float:left; }

.submenu > li span:nth-child(2) {font-size:1.2em; min-width:50%; max-width:75%;}
.submenu > li span:nth-child(4) {font-size:0.8em; }

.submenu > li {
    outline: none;
    padding: 2em 1em 1em 1em;
}

.no-touch .submenu > li a:hover,
.no-touch .submenu > li a:focus {
    transform: scale(1.05);
}

.no-touch .submenu > li a:hover,
.no-touch .submenu > li a:focus,
.no-touch .submenu > li a,
.no-touch .submenu > li a{
    -webkit-transition: transform 0.6s ease 0.1s;
    -moz-transition: transform 0.6s ease 0.1s;
    -ms-transition: transform 0.6s ease 0.1s;
    -o-transition: transform 0.6s ease 0.1s;
    transition: transform 0.6s ease 0.1s;
}



/*
=====================================================================
                        Media queries
=====================================================================
*/

@media screen and (max-width: 65em){
    .logo { height:35px; }
    .icon-search{
        font-size: 16px;
        width: 30px;
        line-height: 30px;
    }
    .search-submit { }
    .search-input {padding:inherit;}
    .search {min-width:30px; right:4em;}

    .search .search-input {width:0; }
    .search.search-open .search-input,
    .no-js .search { width: 100%;}

    .search,
    .search-input,
    .icon-search    {
        height:30px;
        /*margin-top: 0.4em;*/
    }
    .submenu > li span:nth-child(2) {font-size:1em; max-width:50%;}
    .submenu > li span:nth-child(4) {font-size:0.5em; }
}
@media screen and (max-width: 51.4375em) {
    .menu-wrapper .menu {
        display: table-cell;

    }
    .logo {
        background: #002053 url('../lib/svg/dewetra_20_02.png') no-repeat;
        width: 40px;
        height: 40px;
        background-size: cover;
        margin:5px;
        position:fixed;
        left:0;
        border-radius:5px;


    }
    .search { min-width:30px; right:-4em; width:90%;}
    .search.search-open, .no-js .search {
        width: 90%;
        margin-bottom:1em;
    }

    .menu > li:nth-child(n+1) {
        border-top: 1px solid rgba(255,255,255,0.1);

    }
    .menu > li:nth-child(1),
    .menu > li:nth-child(2),
    .menu > li:nth-child(3){
        border-top: none;
        display: block;
        float:left;
        /* width: 10%; */
        position: relative;
        /* margin-left: 18%; */
    }
    #menu .submenu  {

        -webkit-border-radius: none;
        -moz-border-radius: none;
        border-radius: none;
        box-shadow: none;
        -moz-box-shadow: none;
        webkit-box-shadow: none;
    }
    /*     .submenu > li {padding:15px 5px; box-shadow: 0 -28px 0 -27px #555!important;} */
    .submenu > li a {        padding:0;    }
    .submenu > li span:nth-child(2) {max-width:inherit;}
    .submenu > li a img {display:none;}

    /*     Slider custom */
    .footer {left:0; right:0;}
    .footer .inner {padding:8px; padding-bottom:8px;}
    .ui-slider {margin-top:0;}
    .ui-slider .ui-slider-handle {  top:-.5em; width: 1.2em;height: 1.2em;}

}


